@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none; color:black;}

section {width: 100%; min-width: 1200px; height: fit-content; padding: 50px 0; box-sizing: border-box; margin-top: 90px;}

/* section .wrapper {background-color: rgba(0, 255, 0, 0.1);} */

section .wrapper>p:first-of-type {text-align: right; margin-bottom: 50px;}

.dfdf {padding: 10px 0;}

section .wrapper>p:nth-of-type(2) {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.privacy_info_wrapper {width: 100%; height: fit-content; background-color: rgba(255, 0, 0, .1); border: 1px solid #d7d5d5; box-sizing: border-box; background-color: #fbfafa; padding: 20px;}

.privacy_info {width: 100%; height: 100%; background-color: white; border: 1px solid #bcbcbc; padding: 20px; box-sizing: border-box;}

table {border: 1px solid black; border-collapse: collapse
;}
th, td {
    border: 1px solid black;
}